{{>header}}
<div id="page-wrapper" class="flex-grow-1">
    <h1>{{page_header}}</h1>
    <img class="portrait" src="/img/harpal.jpg" alt="">
    <p>This site was created by Harpal Singh. It uses data from mapbox.com
    and darksky.net.</p>
    {{body}}
</div>

{{>footer}}